<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel='icon' href='/images/weather.png'>
        <link rel='stylesheet' href='./css/styles.css'>
    </head>

    <body>
        <div class='main-content'>
            {{>header}}
            <p>This site was created by MJ Fuller, with the help of Andrew Mead and his "The Complete Node.js Developer Course (3rd Edition)". It uses data from mapbox.com and darksky.net.</p>
            <img class='portrait' src='/images/mj.jpg'>
        </div>
        {{>footer}}
    </body>
</html>